{% extends 'base.html' %}

{% block portfolio %}
    <div class="left-col">
        <a class="left-arrow" href="#"></a>
    </div>
    <div class="mid-col">
        <div id="portfolio">

            <div class="eden">
                
                <a class="logo"></a>
                <div class="device-iphone"></div>
                <div class="description">

                <p>
                	<br />
TMOA is proud to present our work done with a conscious corporate client, Eden Foods.  Containing over 1,000 recipes including gluten-free, macrobiotic, and vegan selections, the Eden Recipes iPhone App is an amazing FREE resource for those looking to improve the quality of their food, their cooking, and their health.
					<br /><br />
It also includes complete profiles of all 250+ organic, specialty, gourmet, and traditional pure foods offered by Eden, a pertinent issues section, and full search capabilities.  The newest update, coming soon, contains a full redesign done by Laura Andrews, as well as our most requested feature: recipe photos!  Not only that, but there are cutting edge social features that make sharing and preparing the recipes a snap.  Download the free app today and receive the free update once it goes live on iTunes.
					<br /><br /><a href="http://itunes.apple.com/us/app/eden-recipes/id414607185"><img src="{{ MEDIA_URL }}/images/appStore.png" /></a>

            	</p>
            	
    			<div class="clearer"></div>  
                </div>
                
            </div>

            <div class="chromocam" class="hidden">
                <a class="logo"></a>
                <div class="device-iphone"></div>
                <div class="description">

                <p>
                	<br />
					An experiment in minimalist iPhoneography - featured on the<br />
					iTunes App Store as “New & Noteworthy”<br /><br />
					Almost all of the photography apps on the App Store look to emulate older, decidedly less sophisticated camera equipment. The joy of having an element of randomness in your photography, the digital analog of darkroom development, is exciting. But what if we took the computing power of the devices of today, and used them to create modernist works? Cubic works. Neo-impressionist, minimal, divisionist and chromoluminarist works.
					<br /><br />
					<em>Reviews</em><br />
					“very beautiful generative effects” -  Creativeapplications.net<br />
					“organic and intuitive” - Pocketplastic.com<br />
					“a fun way to keep photos interesting and exciting” - Topapps.eu<br /><br />
					<a href="http://itunes.apple.com/us/app/chromocam-dots/id370949742?mt=8"><img src="{{ MEDIA_URL }}/images/appStore.png" /></a>

            	</p>
            	
    			<div class="clearer"></div>  
                </div>
            </div>
            
            <div class="promopotluck" class="hidden">
                
                <div class="device-iphone"></div>
                <a class="logo"></a>
                <div class="description">

                <p><br />
					Promo Potluck was envisioned as a place for independent developers to get together and have a fun and easy way to experience each othersʼ work. Through the automated trading of promo codes, Promo Potluck allowed developers to use their codes in a more productive way by putting them in the hands of their peers.<br /><br />
					
					This project has since been discontinued but remains in our portfolio to showcase the amazing work of our in-house designer, Laura Andrews.
					<br /><br />

            	</p>
    			<div class="clearer"></div>  
                </div>
            </div>
            
        </div>
    </div>
    <div class="right-col">
        <a class="right-arrow" href="#"></a>
    </div>
    <div class="clearer"></div>
{% endblock %}




