<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Basic Pack</string>
		<key>Image</key>
		<string>ApplyStickerImage.png</string>
		<key>Type</key>
		<string>Pack</string>
		<key>Categories</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Faces</string>
				<key>Type</key>
				<string>Category</string>
				<key>Image</key>
				<string>ApplyStickerImage.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Smiling Lamp</string>
						<key>Image</key>
						<string>ApplyStickerImage.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Smelly Lamp</string>
						<key>Image</key>
						<string>ApplyStickerImage.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Smirkin Lamp</string>
						<key>Image</key>
						<string>ApplyStickerImage.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Eyes</string>
				<key>Image</key>
				<string>ApplyStickerImage.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Lamp Eye</string>
						<key>Image</key>
						<string>ApplyStickerImage.png</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Stink eye</string>
						<key>Image</key>
						<string>ApplyStickerImage.png</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>boopit</string>
						<key>Image</key>
						<string>ApplyStickerImage.png</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Kitty Pack</string>
		<key>Type</key>
		<string>Pack</string>
		<key>Image</key>
		<string>InAppPurchaseKittyPack.png</string>
		<key>Categories</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Ears</string>
				<key>Type</key>
				<string>Category</string>
				<key>Image</key>
				<string>ApplyStickerImage.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Smiling Lamp</string>
						<key>Image</key>
						<string>ApplyStickerImage.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Smelly Lamp</string>
						<key>Image</key>
						<string>ApplyStickerImage.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Smirkin Lamp</string>
						<key>Image</key>
						<string>ApplyStickerImage.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Noses</string>
				<key>Type</key>
				<string>Category</string>
				<key>Image</key>
				<string>ApplyStickerImage.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Lamp Eye</string>
						<key>Image</key>
						<string>ApplyStickerImage.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Stink eye</string>
						<key>Image</key>
						<string>ApplyStickerImage.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>boopit</string>
						<key>Image</key>
						<string>ApplyStickerImage.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
