<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>Name</key>
<string>AnimalPack</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Type</key>
<string>Pack</string>
<key>Categories</key>
<array>
<dict>
<key>Name</key>
<string>Bear</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>Bear1</string><key>Image</key>
<string>Bear1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Bear2</string><key>Image</key>
<string>Bear2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Bear3</string><key>Image</key>
<string>Bear3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Bear4</string><key>Image</key>
<string>Bear4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Bear5</string><key>Image</key>
<string>Bear5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Bear6</string><key>Image</key>
<string>Bear6.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Bear7</string><key>Image</key>
<string>Bear7.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Bear8</string><key>Image</key>
<string>Bear8.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Cat</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>Cat1</string><key>Image</key>
<string>Cat1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Cat2</string><key>Image</key>
<string>Cat2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Cat3</string><key>Image</key>
<string>Cat3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Cat4</string><key>Image</key>
<string>Cat4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Cat5</string><key>Image</key>
<string>Cat5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Cat6</string><key>Image</key>
<string>Cat6.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Cat7</string><key>Image</key>
<string>Cat7.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Dog</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>Dog1</string><key>Image</key>
<string>Dog1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Dog2</string><key>Image</key>
<string>Dog2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Dog3</string><key>Image</key>
<string>Dog3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Panda</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>Panda1</string><key>Image</key>
<string>Panda1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Panda2</string><key>Image</key>
<string>Panda2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Panda3</string><key>Image</key>
<string>Panda3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Panda4</string><key>Image</key>
<string>Panda4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Panda5</string><key>Image</key>
<string>Panda5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Panda6</string><key>Image</key>
<string>Panda6.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Pig</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>Pig1</string><key>Image</key>
<string>Pig1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>Pig2</string><key>Image</key>
<string>Pig2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>CutifyDefaultPack</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Type</key>
<string>Pack</string>
<key>Categories</key>
<array>
<dict>
<key>Name</key>
<string>Derp</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>CutifyPack103</string><key>Image</key>
<string>CutifyPack103.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack119</string><key>Image</key>
<string>CutifyPack119.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack24</string><key>Image</key>
<string>CutifyPack24.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack25</string><key>Image</key>
<string>CutifyPack25.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack26</string><key>Image</key>
<string>CutifyPack26.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack27</string><key>Image</key>
<string>CutifyPack27.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack56</string><key>Image</key>
<string>CutifyPack56.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack67</string><key>Image</key>
<string>CutifyPack67.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack77</string><key>Image</key>
<string>CutifyPack77.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack88</string><key>Image</key>
<string>CutifyPack88.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Happy</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>CutifyPack106</string><key>Image</key>
<string>CutifyPack106.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack107</string><key>Image</key>
<string>CutifyPack107.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack108</string><key>Image</key>
<string>CutifyPack108.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack110</string><key>Image</key>
<string>CutifyPack110.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack112</string><key>Image</key>
<string>CutifyPack112.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack113</string><key>Image</key>
<string>CutifyPack113.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack114</string><key>Image</key>
<string>CutifyPack114.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack1</string><key>Image</key>
<string>CutifyPack1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack2</string><key>Image</key>
<string>CutifyPack2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack30</string><key>Image</key>
<string>CutifyPack30.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack31</string><key>Image</key>
<string>CutifyPack31.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack36</string><key>Image</key>
<string>CutifyPack36.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack37</string><key>Image</key>
<string>CutifyPack37.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack3</string><key>Image</key>
<string>CutifyPack3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack42</string><key>Image</key>
<string>CutifyPack42.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack43</string><key>Image</key>
<string>CutifyPack43.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack44</string><key>Image</key>
<string>CutifyPack44.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack46</string><key>Image</key>
<string>CutifyPack46.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack49</string><key>Image</key>
<string>CutifyPack49.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack4</string><key>Image</key>
<string>CutifyPack4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack50</string><key>Image</key>
<string>CutifyPack50.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack51</string><key>Image</key>
<string>CutifyPack51.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack59</string><key>Image</key>
<string>CutifyPack59.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack5</string><key>Image</key>
<string>CutifyPack5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack60</string><key>Image</key>
<string>CutifyPack60.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack61</string><key>Image</key>
<string>CutifyPack61.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack62</string><key>Image</key>
<string>CutifyPack62.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack6</string><key>Image</key>
<string>CutifyPack6.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack70</string><key>Image</key>
<string>CutifyPack70.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack71</string><key>Image</key>
<string>CutifyPack71.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack72</string><key>Image</key>
<string>CutifyPack72.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack73</string><key>Image</key>
<string>CutifyPack73.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack7</string><key>Image</key>
<string>CutifyPack7.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack80</string><key>Image</key>
<string>CutifyPack80.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack81</string><key>Image</key>
<string>CutifyPack81.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack82</string><key>Image</key>
<string>CutifyPack82.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack83</string><key>Image</key>
<string>CutifyPack83.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack91</string><key>Image</key>
<string>CutifyPack91.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack92</string><key>Image</key>
<string>CutifyPack92.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack93</string><key>Image</key>
<string>CutifyPack93.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack94</string><key>Image</key>
<string>CutifyPack94.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack96</string><key>Image</key>
<string>CutifyPack96.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack97</string><key>Image</key>
<string>CutifyPack97.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack98</string><key>Image</key>
<string>CutifyPack98.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Mischevious</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>CutifyPack47</string><key>Image</key>
<string>CutifyPack47.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Neutral</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>CutifyPack102</string><key>Image</key>
<string>CutifyPack102.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack118</string><key>Image</key>
<string>CutifyPack118.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack20</string><key>Image</key>
<string>CutifyPack20.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack22</string><key>Image</key>
<string>CutifyPack22.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack23</string><key>Image</key>
<string>CutifyPack23.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack55</string><key>Image</key>
<string>CutifyPack55.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack66</string><key>Image</key>
<string>CutifyPack66.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack76</string><key>Image</key>
<string>CutifyPack76.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack87</string><key>Image</key>
<string>CutifyPack87.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>New</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>CutifyPackNew1.png</string><key>Image</key>
<string>CutifyPackNew1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPackNew2.png</string><key>Image</key>
<string>CutifyPackNew2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPackNew3.png</string><key>Image</key>
<string>CutifyPackNew3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPackNew4.png</string><key>Image</key>
<string>CutifyPackNew4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPackNew5.png</string><key>Image</key>
<string>CutifyPackNew5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPackNew6.png</string><key>Image</key>
<string>CutifyPackNew6.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPackNew7.png</string><key>Image</key>
<string>CutifyPackNew7.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPackNew8.png</string><key>Image</key>
<string>CutifyPackNew8.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Peaceful</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>CutifyPack111</string><key>Image</key>
<string>CutifyPack111.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack48</string><key>Image</key>
<string>CutifyPack48.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack95</string><key>Image</key>
<string>CutifyPack95.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Relaxed</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>CutifyPack109</string><key>Image</key>
<string>CutifyPack109.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack10</string><key>Image</key>
<string>CutifyPack10.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack45</string><key>Image</key>
<string>CutifyPack45.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack8</string><key>Image</key>
<string>CutifyPack8.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack9</string><key>Image</key>
<string>CutifyPack9.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Sad</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>CutifyPack100</string><key>Image</key>
<string>CutifyPack100.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack116</string><key>Image</key>
<string>CutifyPack116.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack11</string><key>Image</key>
<string>CutifyPack11.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack12</string><key>Image</key>
<string>CutifyPack12.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack15</string><key>Image</key>
<string>CutifyPack15.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack17</string><key>Image</key>
<string>CutifyPack17.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack53</string><key>Image</key>
<string>CutifyPack53.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack64</string><key>Image</key>
<string>CutifyPack64.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack75</string><key>Image</key>
<string>CutifyPack75.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack85</string><key>Image</key>
<string>CutifyPack85.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Separates</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>Eyes</string><key>Image</key>
<string>Eyes</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Shocked</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>CutifyPack101</string><key>Image</key>
<string>CutifyPack101.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack115</string><key>Image</key>
<string>CutifyPack115.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack117</string><key>Image</key>
<string>CutifyPack117.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack13</string><key>Image</key>
<string>CutifyPack13.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack18</string><key>Image</key>
<string>CutifyPack18.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack19</string><key>Image</key>
<string>CutifyPack19.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack52</string><key>Image</key>
<string>CutifyPack52.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack54</string><key>Image</key>
<string>CutifyPack54.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack63</string><key>Image</key>
<string>CutifyPack63.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack65</string><key>Image</key>
<string>CutifyPack65.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack74</string><key>Image</key>
<string>CutifyPack74.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack84</string><key>Image</key>
<string>CutifyPack84.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack86</string><key>Image</key>
<string>CutifyPack86.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack99</string><key>Image</key>
<string>CutifyPack99.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Surprised</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>CutifyPack104</string><key>Image</key>
<string>CutifyPack104.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack105</string><key>Image</key>
<string>CutifyPack105.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack120</string><key>Image</key>
<string>CutifyPack120.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack121</string><key>Image</key>
<string>CutifyPack121.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack28</string><key>Image</key>
<string>CutifyPack28.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack29</string><key>Image</key>
<string>CutifyPack29.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack57</string><key>Image</key>
<string>CutifyPack57.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack58</string><key>Image</key>
<string>CutifyPack58.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack68</string><key>Image</key>
<string>CutifyPack68.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack69</string><key>Image</key>
<string>CutifyPack69.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack78</string><key>Image</key>
<string>CutifyPack78.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack79</string><key>Image</key>
<string>CutifyPack79.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack89</string><key>Image</key>
<string>CutifyPack89.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack90</string><key>Image</key>
<string>CutifyPack90.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Unamused</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>CutifyPack14</string><key>Image</key>
<string>CutifyPack14.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack16</string><key>Image</key>
<string>CutifyPack16.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack21</string><key>Image</key>
<string>CutifyPack21.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Yawn</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>CutifyPack32</string><key>Image</key>
<string>CutifyPack32.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack33</string><key>Image</key>
<string>CutifyPack33.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack38</string><key>Image</key>
<string>CutifyPack38.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack39</string><key>Image</key>
<string>CutifyPack39.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack40</string><key>Image</key>
<string>CutifyPack40.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>CutifyPack41</string><key>Image</key>
<string>CutifyPack41.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>EmoticonPack</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Type</key>
<string>Pack</string>
<key>Categories</key>
<array>
<dict>
<key>Name</key>
<string>Annoyed</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonAnnoyed1</string><key>Image</key>
<string>EmoticonAnnoyed1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonAnnoyed2</string><key>Image</key>
<string>EmoticonAnnoyed2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonAnnoyed3</string><key>Image</key>
<string>EmoticonAnnoyed3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonAnnoyed4</string><key>Image</key>
<string>EmoticonAnnoyed4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonAnnoyed5</string><key>Image</key>
<string>EmoticonAnnoyed5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonAnnoyed6</string><key>Image</key>
<string>EmoticonAnnoyed6.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Blushing</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonBlushing1</string><key>Image</key>
<string>EmoticonBlushing1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonBlushing2</string><key>Image</key>
<string>EmoticonBlushing2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonBlushing3</string><key>Image</key>
<string>EmoticonBlushing3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>CreepedOut</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonCreepedOut1</string><key>Image</key>
<string>EmoticonCreepedOut1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonCreepedOut2</string><key>Image</key>
<string>EmoticonCreepedOut2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Crying</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonCrying1</string><key>Image</key>
<string>EmoticonCrying1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonCrying2</string><key>Image</key>
<string>EmoticonCrying2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonCrying3</string><key>Image</key>
<string>EmoticonCrying3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonCrying4</string><key>Image</key>
<string>EmoticonCrying4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonCrying5</string><key>Image</key>
<string>EmoticonCrying5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonCrying6</string><key>Image</key>
<string>EmoticonCrying6.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonCrying7</string><key>Image</key>
<string>EmoticonCrying7.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonCrying8</string><key>Image</key>
<string>EmoticonCrying8.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Cute</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonCute1</string><key>Image</key>
<string>EmoticonCute1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonCute2</string><key>Image</key>
<string>EmoticonCute2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Dead</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonDead1</string><key>Image</key>
<string>EmoticonDead1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonDead2</string><key>Image</key>
<string>EmoticonDead2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Disappointed</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonDisappointed1</string><key>Image</key>
<string>EmoticonDisappointed1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonDisappointed2</string><key>Image</key>
<string>EmoticonDisappointed2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Excited</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonExcited1</string><key>Image</key>
<string>EmoticonExcited1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonExcited2</string><key>Image</key>
<string>EmoticonExcited2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonExcited3</string><key>Image</key>
<string>EmoticonExcited3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonExcited4</string><key>Image</key>
<string>EmoticonExcited4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>EyeRoll</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonEyeRoll1</string><key>Image</key>
<string>EmoticonEyeRoll1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonEyeRoll2</string><key>Image</key>
<string>EmoticonEyeRoll2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonEyeRoll3</string><key>Image</key>
<string>EmoticonEyeRoll3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Happy</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonHappy10</string><key>Image</key>
<string>EmoticonHappy10.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy11</string><key>Image</key>
<string>EmoticonHappy11.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy12</string><key>Image</key>
<string>EmoticonHappy12.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy13</string><key>Image</key>
<string>EmoticonHappy13.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy14</string><key>Image</key>
<string>EmoticonHappy14.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy15</string><key>Image</key>
<string>EmoticonHappy15.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy16</string><key>Image</key>
<string>EmoticonHappy16.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy17</string><key>Image</key>
<string>EmoticonHappy17.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy18</string><key>Image</key>
<string>EmoticonHappy18.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy19</string><key>Image</key>
<string>EmoticonHappy19.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy1</string><key>Image</key>
<string>EmoticonHappy1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy2</string><key>Image</key>
<string>EmoticonHappy2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy3</string><key>Image</key>
<string>EmoticonHappy3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy4</string><key>Image</key>
<string>EmoticonHappy4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy5</string><key>Image</key>
<string>EmoticonHappy5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy6</string><key>Image</key>
<string>EmoticonHappy6.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy7</string><key>Image</key>
<string>EmoticonHappy7.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy8</string><key>Image</key>
<string>EmoticonHappy8.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHappy9</string><key>Image</key>
<string>EmoticonHappy9.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Headphones</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonHeadphones1</string><key>Image</key>
<string>EmoticonHeadphones1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonHeadphones2</string><key>Image</key>
<string>EmoticonHeadphones2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Indifferent</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonIndifferent1</string><key>Image</key>
<string>EmoticonIndifferent1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Kiss</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonKiss1</string><key>Image</key>
<string>EmoticonKiss1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Perky</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonPerky1</string><key>Image</key>
<string>EmoticonPerky1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Sad</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonSad1</string><key>Image</key>
<string>EmoticonSad1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSad2</string><key>Image</key>
<string>EmoticonSad2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSad3</string><key>Image</key>
<string>EmoticonSad3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSad4</string><key>Image</key>
<string>EmoticonSad4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSad5</string><key>Image</key>
<string>EmoticonSad5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSad6</string><key>Image</key>
<string>EmoticonSad6.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSad7</string><key>Image</key>
<string>EmoticonSad7.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSad8</string><key>Image</key>
<string>EmoticonSad8.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Sarcasm</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonSarcasm1</string><key>Image</key>
<string>EmoticonSarcasm1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSarcasm2</string><key>Image</key>
<string>EmoticonSarcasm2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSarcasm3</string><key>Image</key>
<string>EmoticonSarcasm3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSarcasm4</string><key>Image</key>
<string>EmoticonSarcasm4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>SealedLips</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonSealedLips1</string><key>Image</key>
<string>EmoticonSealedLips1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSealedLips2</string><key>Image</key>
<string>EmoticonSealedLips2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Shocked</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonShocked1</string><key>Image</key>
<string>EmoticonShocked1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Singing</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonSinging1</string><key>Image</key>
<string>EmoticonSinging1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Sleepy</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonSleepy1</string><key>Image</key>
<string>EmoticonSleepy1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSleepy2</string><key>Image</key>
<string>EmoticonSleepy2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Snubbed</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonSnubbed1</string><key>Image</key>
<string>EmoticonSnubbed1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>StraightFace</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonStraightFace1</string><key>Image</key>
<string>EmoticonStraightFace1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Surprise</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonSurprise10</string><key>Image</key>
<string>EmoticonSurprise10.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSurprise11</string><key>Image</key>
<string>EmoticonSurprise11.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSurprise1</string><key>Image</key>
<string>EmoticonSurprise1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSurprise2</string><key>Image</key>
<string>EmoticonSurprise2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSurprise3</string><key>Image</key>
<string>EmoticonSurprise3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSurprise4</string><key>Image</key>
<string>EmoticonSurprise4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSurprise5</string><key>Image</key>
<string>EmoticonSurprise5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSurprise6</string><key>Image</key>
<string>EmoticonSurprise6.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSurprise7</string><key>Image</key>
<string>EmoticonSurprise7.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSurprise8</string><key>Image</key>
<string>EmoticonSurprise8.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonSurprise9</string><key>Image</key>
<string>EmoticonSurprise9.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Sweatdrop</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonSweatdrop1</string><key>Image</key>
<string>EmoticonSweatdrop1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Tongue</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonTongue1</string><key>Image</key>
<string>EmoticonTongue1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonTongue2</string><key>Image</key>
<string>EmoticonTongue2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonTongue3</string><key>Image</key>
<string>EmoticonTongue3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonTongue4</string><key>Image</key>
<string>EmoticonTongue4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonTongue5</string><key>Image</key>
<string>EmoticonTongue5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Upset</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonUpset10</string><key>Image</key>
<string>EmoticonUpset10.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonUpset1</string><key>Image</key>
<string>EmoticonUpset1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonUpset2</string><key>Image</key>
<string>EmoticonUpset2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonUpset3</string><key>Image</key>
<string>EmoticonUpset3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonUpset4</string><key>Image</key>
<string>EmoticonUpset4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonUpset5</string><key>Image</key>
<string>EmoticonUpset5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonUpset6</string><key>Image</key>
<string>EmoticonUpset6.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonUpset7</string><key>Image</key>
<string>EmoticonUpset7.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonUpset8</string><key>Image</key>
<string>EmoticonUpset8.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonUpset9</string><key>Image</key>
<string>EmoticonUpset9.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
<dict>
<key>Name</key>
<string>Wink</string>
<key>Image</key>
<string>CutifyPack1.png</string>
<key>Stickers</key>
<array>
<dict>
<key>Name</key>
<string>EmoticonWink1</string><key>Image</key>
<string>EmoticonWink1.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonWink2</string><key>Image</key>
<string>EmoticonWink2.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonWink3</string><key>Image</key>
<string>EmoticonWink3.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonWink4</string><key>Image</key>
<string>EmoticonWink4.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonWink5</string><key>Image</key>
<string>EmoticonWink5.png</string><key>Type</key>
<string>Sticker</string>
</dict>
<dict>
<key>Name</key>
<string>EmoticonWink6</string><key>Image</key>
<string>EmoticonWink6.png</string><key>Type</key>
<string>Sticker</string>
</dict>
</array>
</dict>
</array>
</dict>
</array>
</plist>
