<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Animals</string>
		<key>Image</key>
		<string>Contented</string>
		<key>Type</key>
		<string>Pack</string>
		<key>Categories</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Bear</string>
				<key>Image</key>
				<string>Contented</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Contented</string>
						<key>Image</key>
						<string>Contented</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Happy Bear</string>
						<key>Image</key>
						<string>Happy Bear</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Hungry</string>
						<key>Image</key>
						<string>Hungry</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Perky</string>
						<key>Image</key>
						<string>Perky</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Relaxed</string>
						<key>Image</key>
						<string>Relaxed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>So Good</string>
						<key>Image</key>
						<string>So Good</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Spirited</string>
						<key>Image</key>
						<string>Spirited</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Whimsical</string>
						<key>Image</key>
						<string>Whimsical</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Cat</string>
				<key>Image</key>
				<string>Agape</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Agape</string>
						<key>Image</key>
						<string>Agape</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Big Eyed</string>
						<key>Image</key>
						<string>Big Eyed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Happy Tears</string>
						<key>Image</key>
						<string>Happy Tears</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Irritated</string>
						<key>Image</key>
						<string>Irritated</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Playful</string>
						<key>Image</key>
						<string>Playful</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Startled</string>
						<key>Image</key>
						<string>Startled</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Teary Eyed</string>
						<key>Image</key>
						<string>Teary Eyed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Dog</string>
				<key>Image</key>
				<string>Animated</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Animated</string>
						<key>Image</key>
						<string>Animated</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Dreamy</string>
						<key>Image</key>
						<string>Dreamy</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Happy Pup</string>
						<key>Image</key>
						<string>Happy Pup</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Panda</string>
				<key>Image</key>
				<string>Blushing</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Blushing</string>
						<key>Image</key>
						<string>Blushing</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Bored</string>
						<key>Image</key>
						<string>Bored</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Laughing</string>
						<key>Image</key>
						<string>Laughing</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Poker Face</string>
						<key>Image</key>
						<string>Poker Face</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Thinking</string>
						<key>Image</key>
						<string>Thinking</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Wink</string>
						<key>Image</key>
						<string>Wink</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Pig</string>
				<key>Image</key>
				<string>Interested</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Interested</string>
						<key>Image</key>
						<string>Interested</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Normal</string>
						<key>Image</key>
						<string>Normal</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cutify</string>
		<key>Image</key>
		<string>Annoyed</string>
		<key>Type</key>
		<string>Pack</string>
		<key>Categories</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Bored</string>
				<key>Image</key>
				<string>Annoyed</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Annoyed</string>
						<key>Image</key>
						<string>Annoyed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Beh</string>
						<key>Image</key>
						<string>Beh</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Candid</string>
						<key>Image</key>
						<string>Candid</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Exhausted</string>
						<key>Image</key>
						<string>Exhausted</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Not Amused</string>
						<key>Image</key>
						<string>Not Amused</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Sleepy</string>
						<key>Image</key>
						<string>Sleepy</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Tired</string>
						<key>Image</key>
						<string>Tired</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Yawn</string>
						<key>Image</key>
						<string>Yawn</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Derp</string>
				<key>Image</key>
				<string>Derpette</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Derpette</string>
						<key>Image</key>
						<string>Derpette</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Derpina</string>
						<key>Image</key>
						<string>Derpina</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Durr</string>
						<key>Image</key>
						<string>Durr</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Oops</string>
						<key>Image</key>
						<string>Oops</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Uh-Oh</string>
						<key>Image</key>
						<string>Uh-Oh</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Whoops</string>
						<key>Image</key>
						<string>Whoops</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Evil</string>
				<key>Image</key>
				<string>Devious</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Devious</string>
						<key>Image</key>
						<string>Devious</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Mwahaha</string>
						<key>Image</key>
						<string>Mwahaha</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Sneaky</string>
						<key>Image</key>
						<string>Sneaky</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Happy</string>
				<key>Image</key>
				<string>Beaming</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Beaming</string>
						<key>Image</key>
						<string>Beaming</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Blissful</string>
						<key>Image</key>
						<string>Blissful</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Bright</string>
						<key>Image</key>
						<string>Bright</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Captivated</string>
						<key>Image</key>
						<string>Captivated</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Charming</string>
						<key>Image</key>
						<string>Charming</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Cheerful</string>
						<key>Image</key>
						<string>Cheerful</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Curious</string>
						<key>Image</key>
						<string>Curious</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Eager</string>
						<key>Image</key>
						<string>Eager</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Eeeee</string>
						<key>Image</key>
						<string>Eeeee</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Excited</string>
						<key>Image</key>
						<string>Excited</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Freckled</string>
						<key>Image</key>
						<string>Freckled</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Happy Face</string>
						<key>Image</key>
						<string>Happy Face</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>In Love</string>
						<key>Image</key>
						<string>In Love</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Jocund</string>
						<key>Image</key>
						<string>Jocund</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Jolly</string>
						<key>Image</key>
						<string>Jolly</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Joyful</string>
						<key>Image</key>
						<string>Joyful</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Joyous</string>
						<key>Image</key>
						<string>Joyous</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Lively</string>
						<key>Image</key>
						<string>Lively</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Piqued</string>
						<key>Image</key>
						<string>Piqued</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Pleasant</string>
						<key>Image</key>
						<string>Pleasant</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Refreshed</string>
						<key>Image</key>
						<string>Refreshed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Satisfied</string>
						<key>Image</key>
						<string>Satisfied</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Smiley Face</string>
						<key>Image</key>
						<string>Smiley Face</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Snappy</string>
						<key>Image</key>
						<string>Snappy</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Sprightly</string>
						<key>Image</key>
						<string>Sprightly</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Sunny</string>
						<key>Image</key>
						<string>Sunny</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Very Happy</string>
						<key>Image</key>
						<string>Very Happy</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Vivacious</string>
						<key>Image</key>
						<string>Vivacious</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Winking</string>
						<key>Image</key>
						<string>Winking</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Wow</string>
						<key>Image</key>
						<string>Wow</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Yay</string>
						<key>Image</key>
						<string>Yay</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Neutral</string>
				<key>Image</key>
				<string>Bland</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Bland</string>
						<key>Image</key>
						<string>Bland</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Cool</string>
						<key>Image</key>
						<string>Cool</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Easygoing</string>
						<key>Image</key>
						<string>Easygoing</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Indifferent</string>
						<key>Image</key>
						<string>Indifferent</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Mellow</string>
						<key>Image</key>
						<string>Mellow</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Nonchalant</string>
						<key>Image</key>
						<string>Nonchalant</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Shifty Eyes</string>
						<key>Image</key>
						<string>Shifty Eyes</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Undecided</string>
						<key>Image</key>
						<string>Undecided</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Peaceful</string>
				<key>Image</key>
				<string>Content</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Content</string>
						<key>Image</key>
						<string>Content</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Serene</string>
						<key>Image</key>
						<string>Serene</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Tranquil</string>
						<key>Image</key>
						<string>Tranquil</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Relaxed</string>
				<key>Image</key>
				<string>Carefree</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Carefree</string>
						<key>Image</key>
						<string>Carefree</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Complacent</string>
						<key>Image</key>
						<string>Complacent</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Laid Back</string>
						<key>Image</key>
						<string>Laid Back</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Lazy</string>
						<key>Image</key>
						<string>Lazy</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Sad</string>
				<key>Image</key>
				<string>Dejected</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Dejected</string>
						<key>Image</key>
						<string>Dejected</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Distressed</string>
						<key>Image</key>
						<string>Distressed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Down</string>
						<key>Image</key>
						<string>Down</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Harsh</string>
						<key>Image</key>
						<string>Harsh</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Heartbroken</string>
						<key>Image</key>
						<string>Heartbroken</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Sad</string>
						<key>Image</key>
						<string>Sad</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Sorry</string>
						<key>Image</key>
						<string>Sorry</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Sour</string>
						<key>Image</key>
						<string>Sour</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Surprised</string>
				<key>Image</key>
				<string>Amazed</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Amazed</string>
						<key>Image</key>
						<string>Amazed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Astonished</string>
						<key>Image</key>
						<string>Astonished</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Awestruck</string>
						<key>Image</key>
						<string>Awestruck</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Dazzled</string>
						<key>Image</key>
						<string>Dazzled</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Oh No</string>
						<key>Image</key>
						<string>Oh No</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Stunned</string>
						<key>Image</key>
						<string>Stunned</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Upset</string>
				<key>Image</key>
				<string>Afraid</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Afraid</string>
						<key>Image</key>
						<string>Afraid</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Aghast</string>
						<key>Image</key>
						<string>Aghast</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Alarmed</string>
						<key>Image</key>
						<string>Alarmed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Appalled</string>
						<key>Image</key>
						<string>Appalled</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Bummer</string>
						<key>Image</key>
						<string>Bummer</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Disturbed</string>
						<key>Image</key>
						<string>Disturbed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Timorous</string>
						<key>Image</key>
						<string>Timorous</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Unhappy</string>
						<key>Image</key>
						<string>Unhappy</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Emoticons</string>
		<key>Image</key>
		<string>Agitated</string>
		<key>Type</key>
		<string>Pack</string>
		<key>Categories</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Annoyed</string>
				<key>Image</key>
				<string>Agitated</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Agitated</string>
						<key>Image</key>
						<string>Agitated</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Creeped Out</string>
						<key>Image</key>
						<string>Creeped Out</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Freaked Out</string>
						<key>Image</key>
						<string>Freaked Out</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Hesitant</string>
						<key>Image</key>
						<string>Hesitant</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Rhetorical</string>
						<key>Image</key>
						<string>Rhetorical</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Skeptical</string>
						<key>Image</key>
						<string>Skeptical</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Sweatdrop</string>
						<key>Image</key>
						<string>Sweatdrop</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Cute</string>
				<key>Image</key>
				<string>Bashful</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Bashful</string>
						<key>Image</key>
						<string>Bashful</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Cute</string>
						<key>Image</key>
						<string>Cute</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Embarassed</string>
						<key>Image</key>
						<string>Embarassed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Glow</string>
						<key>Image</key>
						<string>Glow</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Kawaii</string>
						<key>Image</key>
						<string>Kawaii</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Happy</string>
				<key>Image</key>
				<string>Banter</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Banter</string>
						<key>Image</key>
						<string>Banter</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Big Grin</string>
						<key>Image</key>
						<string>Big Grin</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Blithe</string>
						<key>Image</key>
						<string>Blithe</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Bu-n</string>
						<key>Image</key>
						<string>Bu-n</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Chipper</string>
						<key>Image</key>
						<string>Chipper</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Chuckle</string>
						<key>Image</key>
						<string>Chuckle</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Delighted</string>
						<key>Image</key>
						<string>Delighted</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Elated</string>
						<key>Image</key>
						<string>Elated</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Giggle</string>
						<key>Image</key>
						<string>Giggle</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Glad</string>
						<key>Image</key>
						<string>Glad</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Gleeful</string>
						<key>Image</key>
						<string>Gleeful</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Grinning</string>
						<key>Image</key>
						<string>Grinning</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Happy</string>
						<key>Image</key>
						<string>Happy</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Joking</string>
						<key>Image</key>
						<string>Joking</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Kawaii Smile</string>
						<key>Image</key>
						<string>Kawaii Smile</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Kawaii Wink</string>
						<key>Image</key>
						<string>Kawaii Wink</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Kisses</string>
						<key>Image</key>
						<string>Kisses</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Kissy Wink</string>
						<key>Image</key>
						<string>Kissy Wink</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Let&apos;s Play</string>
						<key>Image</key>
						<string>Let&apos;s Play</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Overjoyed</string>
						<key>Image</key>
						<string>Overjoyed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Peppy</string>
						<key>Image</key>
						<string>Peppy</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Perky</string>
						<key>Image</key>
						<string>Perky</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Singing</string>
						<key>Image</key>
						<string>Singing</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Smiley</string>
						<key>Image</key>
						<string>Smiley</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Smiling</string>
						<key>Image</key>
						<string>Smiling</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>So Excited</string>
						<key>Image</key>
						<string>So Excited</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Teasing</string>
						<key>Image</key>
						<string>Teasing</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Thumbs Up</string>
						<key>Image</key>
						<string>Thumbs Up</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Tickled</string>
						<key>Image</key>
						<string>Tickled</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Upbeat</string>
						<key>Image</key>
						<string>Upbeat</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Neutral</string>
				<key>Image</key>
				<string>Calm</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Calm</string>
						<key>Image</key>
						<string>Calm</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Deadpan</string>
						<key>Image</key>
						<string>Deadpan</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Headphones</string>
						<key>Image</key>
						<string>Headphones</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Hmm</string>
						<key>Image</key>
						<string>Hmm</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Meh</string>
						<key>Image</key>
						<string>Meh</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Sad</string>
				<key>Image</key>
				<string>Bawling</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Bawling</string>
						<key>Image</key>
						<string>Bawling</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Bitter</string>
						<key>Image</key>
						<string>Bitter</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Blue</string>
						<key>Image</key>
						<string>Blue</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Boohoo</string>
						<key>Image</key>
						<string>Boohoo</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Crying</string>
						<key>Image</key>
						<string>Crying</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Distraught</string>
						<key>Image</key>
						<string>Distraught</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Frowning</string>
						<key>Image</key>
						<string>Frowning</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Gloomy</string>
						<key>Image</key>
						<string>Gloomy</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Glum</string>
						<key>Image</key>
						<string>Glum</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Hurting</string>
						<key>Image</key>
						<string>Hurting</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Sniff Sniff</string>
						<key>Image</key>
						<string>Sniff Sniff</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Sobbing</string>
						<key>Image</key>
						<string>Sobbing</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Somber</string>
						<key>Image</key>
						<string>Somber</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Sorrowful</string>
						<key>Image</key>
						<string>Sorrowful</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Troubled</string>
						<key>Image</key>
						<string>Troubled</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Weeping</string>
						<key>Image</key>
						<string>Weeping</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Sleepy</string>
				<key>Image</key>
				<string>Asleep</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Asleep</string>
						<key>Image</key>
						<string>Asleep</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Dead</string>
						<key>Image</key>
						<string>Dead</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Time For Bed</string>
						<key>Image</key>
						<string>Time For Bed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Surprise</string>
				<key>Image</key>
				<string>Bewildered</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Bewildered</string>
						<key>Image</key>
						<string>Bewildered</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Disapproval</string>
						<key>Image</key>
						<string>Disapproval</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Disbelief</string>
						<key>Image</key>
						<string>Disbelief</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Oh Oh</string>
						<key>Image</key>
						<string>Oh Oh</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>OMG</string>
						<key>Image</key>
						<string>OMG</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Shocked</string>
						<key>Image</key>
						<string>Shocked</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Surprised</string>
						<key>Image</key>
						<string>Surprised</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>What</string>
						<key>Image</key>
						<string>What</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Upset</string>
				<key>Image</key>
				<string>Angry</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Angry</string>
						<key>Image</key>
						<string>Angry</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Dammit</string>
						<key>Image</key>
						<string>Dammit</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Disgusted</string>
						<key>Image</key>
						<string>Disgusted</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Displeased</string>
						<key>Image</key>
						<string>Displeased</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Eye Roll</string>
						<key>Image</key>
						<string>Eye Roll</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Horrified</string>
						<key>Image</key>
						<string>Horrified</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Irked</string>
						<key>Image</key>
						<string>Irked</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Not Telling</string>
						<key>Image</key>
						<string>Not Telling</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Scared</string>
						<key>Image</key>
						<string>Scared</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Sealed Lips</string>
						<key>Image</key>
						<string>Sealed Lips</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Shouting</string>
						<key>Image</key>
						<string>Shouting</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Snubbed</string>
						<key>Image</key>
						<string>Snubbed</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>That&apos;s Bad</string>
						<key>Image</key>
						<string>That&apos;s Bad</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Upset</string>
						<key>Image</key>
						<string>Upset</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
