<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>CutifyDefaultPack</string>
		<key>Image</key>
		<string>CutifyPack1.png</string>
		<key>Type</key>
		<string>Pack</string>
		<key>Categories</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Derp</string>
				<key>Image</key>
				<string>CutifyPack103.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>CutifyPack103@2x.png</string>
						<key>Image</key>
						<string>CutifyPack103@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack119@2x.png</string>
						<key>Image</key>
						<string>CutifyPack119@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack24@2x.png</string>
						<key>Image</key>
						<string>CutifyPack24@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack25@2x.png</string>
						<key>Image</key>
						<string>CutifyPack25@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack26@2x.png</string>
						<key>Image</key>
						<string>CutifyPack26@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack27@2x.png</string>
						<key>Image</key>
						<string>CutifyPack27@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack56@2x.png</string>
						<key>Image</key>
						<string>CutifyPack56@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack67@2x.png</string>
						<key>Image</key>
						<string>CutifyPack67@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack77@2x.png</string>
						<key>Image</key>
						<string>CutifyPack77@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack88@2x.png</string>
						<key>Image</key>
						<string>CutifyPack88@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Happy</string>
				<key>Image</key>
				<string>CutifyPack106.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>CutifyPack106@2x.png</string>
						<key>Image</key>
						<string>CutifyPack106@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack107@2x.png</string>
						<key>Image</key>
						<string>CutifyPack107@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack108@2x.png</string>
						<key>Image</key>
						<string>CutifyPack108@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack110@2x.png</string>
						<key>Image</key>
						<string>CutifyPack110@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack112@2x.png</string>
						<key>Image</key>
						<string>CutifyPack112@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack113@2x.png</string>
						<key>Image</key>
						<string>CutifyPack113@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack114@2x.png</string>
						<key>Image</key>
						<string>CutifyPack114@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack1@2x.png</string>
						<key>Image</key>
						<string>CutifyPack1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack2@2x.png</string>
						<key>Image</key>
						<string>CutifyPack2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack30@2x.png</string>
						<key>Image</key>
						<string>CutifyPack30@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack31@2x.png</string>
						<key>Image</key>
						<string>CutifyPack31@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack36@2x.png</string>
						<key>Image</key>
						<string>CutifyPack36@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack37@2x.png</string>
						<key>Image</key>
						<string>CutifyPack37@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack3@2x.png</string>
						<key>Image</key>
						<string>CutifyPack3@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack42@2x.png</string>
						<key>Image</key>
						<string>CutifyPack42@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack43@2x.png</string>
						<key>Image</key>
						<string>CutifyPack43@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack44@2x.png</string>
						<key>Image</key>
						<string>CutifyPack44@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack46@2x.png</string>
						<key>Image</key>
						<string>CutifyPack46@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack49@2x.png</string>
						<key>Image</key>
						<string>CutifyPack49@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack4@2x.png</string>
						<key>Image</key>
						<string>CutifyPack4@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack50@2x.png</string>
						<key>Image</key>
						<string>CutifyPack50@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack51@2x.png</string>
						<key>Image</key>
						<string>CutifyPack51@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack59@2x.png</string>
						<key>Image</key>
						<string>CutifyPack59@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack5@2x.png</string>
						<key>Image</key>
						<string>CutifyPack5@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack60@2x.png</string>
						<key>Image</key>
						<string>CutifyPack60@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack61@2x.png</string>
						<key>Image</key>
						<string>CutifyPack61@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack62@2x.png</string>
						<key>Image</key>
						<string>CutifyPack62@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack6@2x.png</string>
						<key>Image</key>
						<string>CutifyPack6@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack70@2x.png</string>
						<key>Image</key>
						<string>CutifyPack70@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack71@2x.png</string>
						<key>Image</key>
						<string>CutifyPack71@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack72@2x.png</string>
						<key>Image</key>
						<string>CutifyPack72@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack73@2x.png</string>
						<key>Image</key>
						<string>CutifyPack73@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack7@2x.png</string>
						<key>Image</key>
						<string>CutifyPack7@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack80@2x.png</string>
						<key>Image</key>
						<string>CutifyPack80@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack81@2x.png</string>
						<key>Image</key>
						<string>CutifyPack81@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack82@2x.png</string>
						<key>Image</key>
						<string>CutifyPack82@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack83@2x.png</string>
						<key>Image</key>
						<string>CutifyPack83@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack91@2x.png</string>
						<key>Image</key>
						<string>CutifyPack91@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack92@2x.png</string>
						<key>Image</key>
						<string>CutifyPack92@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack93@2x.png</string>
						<key>Image</key>
						<string>CutifyPack93@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack94@2x.png</string>
						<key>Image</key>
						<string>CutifyPack94@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack96@2x.png</string>
						<key>Image</key>
						<string>CutifyPack96@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack97@2x.png</string>
						<key>Image</key>
						<string>CutifyPack97@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack98@2x.png</string>
						<key>Image</key>
						<string>CutifyPack98@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Mischevious</string>
				<key>Image</key>
				<string>CutifyPack47.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>CutifyPack47@2x.png</string>
						<key>Image</key>
						<string>CutifyPack47@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Neutral</string>
				<key>Image</key>
				<string>CutifyPack102.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>CutifyPack102@2x.png</string>
						<key>Image</key>
						<string>CutifyPack102@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack118@2x.png</string>
						<key>Image</key>
						<string>CutifyPack118@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack20@2x.png</string>
						<key>Image</key>
						<string>CutifyPack20@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack22@2x.png</string>
						<key>Image</key>
						<string>CutifyPack22@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack23@2x.png</string>
						<key>Image</key>
						<string>CutifyPack23@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack55@2x.png</string>
						<key>Image</key>
						<string>CutifyPack55@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack66@2x.png</string>
						<key>Image</key>
						<string>CutifyPack66@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack76@2x.png</string>
						<key>Image</key>
						<string>CutifyPack76@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack87@2x.png</string>
						<key>Image</key>
						<string>CutifyPack87@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Peaceful</string>
				<key>Image</key>
				<string>CutifyPack111.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>CutifyPack111@2x.png</string>
						<key>Image</key>
						<string>CutifyPack111@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack48@2x.png</string>
						<key>Image</key>
						<string>CutifyPack48@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack95@2x.png</string>
						<key>Image</key>
						<string>CutifyPack95@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Relaxed</string>
				<key>Image</key>
				<string>CutifyPack109.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>CutifyPack109@2x.png</string>
						<key>Image</key>
						<string>CutifyPack109@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack10@2x.png</string>
						<key>Image</key>
						<string>CutifyPack10@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack45@2x.png</string>
						<key>Image</key>
						<string>CutifyPack45@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack8@2x.png</string>
						<key>Image</key>
						<string>CutifyPack8@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack9@2x.png</string>
						<key>Image</key>
						<string>CutifyPack9@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Sad</string>
				<key>Image</key>
				<string>CutifyPack100.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>CutifyPack100@2x.png</string>
						<key>Image</key>
						<string>CutifyPack100@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack116@2x.png</string>
						<key>Image</key>
						<string>CutifyPack116@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack11@2x.png</string>
						<key>Image</key>
						<string>CutifyPack11@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack12@2x.png</string>
						<key>Image</key>
						<string>CutifyPack12@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack15@2x.png</string>
						<key>Image</key>
						<string>CutifyPack15@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack17@2x.png</string>
						<key>Image</key>
						<string>CutifyPack17@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack53@2x.png</string>
						<key>Image</key>
						<string>CutifyPack53@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack64@2x.png</string>
						<key>Image</key>
						<string>CutifyPack64@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack75@2x.png</string>
						<key>Image</key>
						<string>CutifyPack75@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack85@2x.png</string>
						<key>Image</key>
						<string>CutifyPack85@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Shocked</string>
				<key>Image</key>
				<string>CutifyPack101.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>CutifyPack101@2x.png</string>
						<key>Image</key>
						<string>CutifyPack101@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack115@2x.png</string>
						<key>Image</key>
						<string>CutifyPack115@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack117@2x.png</string>
						<key>Image</key>
						<string>CutifyPack117@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack13@2x.png</string>
						<key>Image</key>
						<string>CutifyPack13@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack18@2x.png</string>
						<key>Image</key>
						<string>CutifyPack18@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack19@2x.png</string>
						<key>Image</key>
						<string>CutifyPack19@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack52@2x.png</string>
						<key>Image</key>
						<string>CutifyPack52@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack54@2x.png</string>
						<key>Image</key>
						<string>CutifyPack54@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack63@2x.png</string>
						<key>Image</key>
						<string>CutifyPack63@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack65@2x.png</string>
						<key>Image</key>
						<string>CutifyPack65@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack74@2x.png</string>
						<key>Image</key>
						<string>CutifyPack74@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack84@2x.png</string>
						<key>Image</key>
						<string>CutifyPack84@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack86@2x.png</string>
						<key>Image</key>
						<string>CutifyPack86@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack99@2x.png</string>
						<key>Image</key>
						<string>CutifyPack99@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Surprised</string>
				<key>Image</key>
				<string>CutifyPack104.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>CutifyPack104@2x.png</string>
						<key>Image</key>
						<string>CutifyPack104@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack105@2x.png</string>
						<key>Image</key>
						<string>CutifyPack105@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack120@2x.png</string>
						<key>Image</key>
						<string>CutifyPack120@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack121@2x.png</string>
						<key>Image</key>
						<string>CutifyPack121@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack28@2x.png</string>
						<key>Image</key>
						<string>CutifyPack28@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack29@2x.png</string>
						<key>Image</key>
						<string>CutifyPack29@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack57@2x.png</string>
						<key>Image</key>
						<string>CutifyPack57@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack58@2x.png</string>
						<key>Image</key>
						<string>CutifyPack58@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack68@2x.png</string>
						<key>Image</key>
						<string>CutifyPack68@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack69@2x.png</string>
						<key>Image</key>
						<string>CutifyPack69@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack78@2x.png</string>
						<key>Image</key>
						<string>CutifyPack78@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack79@2x.png</string>
						<key>Image</key>
						<string>CutifyPack79@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack89@2x.png</string>
						<key>Image</key>
						<string>CutifyPack89@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack90@2x.png</string>
						<key>Image</key>
						<string>CutifyPack90@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Unamused</string>
				<key>Image</key>
				<string>CutifyPack14.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>CutifyPack14@2x.png</string>
						<key>Image</key>
						<string>CutifyPack14@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack16@2x.png</string>
						<key>Image</key>
						<string>CutifyPack16@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack21@2x.png</string>
						<key>Image</key>
						<string>CutifyPack21@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Yawn</string>
				<key>Image</key>
				<string>CutifyPack32.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>CutifyPack32@2x.png</string>
						<key>Image</key>
						<string>CutifyPack32@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack33@2x.png</string>
						<key>Image</key>
						<string>CutifyPack33@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack38@2x.png</string>
						<key>Image</key>
						<string>CutifyPack38@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack39@2x.png</string>
						<key>Image</key>
						<string>CutifyPack39@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack40@2x.png</string>
						<key>Image</key>
						<string>CutifyPack40@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CutifyPack41@2x.png</string>
						<key>Image</key>
						<string>CutifyPack41@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>EmoticonPack</string>
		<key>Image</key>
		<string>EmoticonAnnoyed1.png</string>
		<key>Type</key>
		<string>Pack</string>
		<key>Categories</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Annoyed</string>
				<key>Image</key>
				<string>EmoticonAnnoyed1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonAnnoyed1@2x.png</string>
						<key>Image</key>
						<string>EmoticonAnnoyed1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonAnnoyed2@2x.png</string>
						<key>Image</key>
						<string>EmoticonAnnoyed2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonAnnoyed3@2x.png</string>
						<key>Image</key>
						<string>EmoticonAnnoyed3@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonAnnoyed4@2x.png</string>
						<key>Image</key>
						<string>EmoticonAnnoyed4@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonAnnoyed5@2x.png</string>
						<key>Image</key>
						<string>EmoticonAnnoyed5@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonAnnoyed6@2x.png</string>
						<key>Image</key>
						<string>EmoticonAnnoyed6@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Blushing</string>
				<key>Image</key>
				<string>EmoticonBlushing1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonBlushing1.png</string>
						<key>Image</key>
						<string>EmoticonBlushing1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonBlushing2@2x.png</string>
						<key>Image</key>
						<string>EmoticonBlushing2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonBlushing3@2x.png</string>
						<key>Image</key>
						<string>EmoticonBlushing3@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Crying</string>
				<key>Image</key>
				<string>EmoticonCrying1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonCrying1@2x.png</string>
						<key>Image</key>
						<string>EmoticonCrying1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonCrying2@2x.png</string>
						<key>Image</key>
						<string>EmoticonCrying2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonCrying3@2x.png</string>
						<key>Image</key>
						<string>EmoticonCrying3@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonCrying4@2x.png</string>
						<key>Image</key>
						<string>EmoticonCrying4@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonCrying5@2x.png</string>
						<key>Image</key>
						<string>EmoticonCrying5@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonCrying6@2x.png</string>
						<key>Image</key>
						<string>EmoticonCrying6@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonCrying7@2x.png</string>
						<key>Image</key>
						<string>EmoticonCrying7@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Dead</string>
				<key>Image</key>
				<string>EmoticonDead1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonDead1@2x.png</string>
						<key>Image</key>
						<string>EmoticonDead1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonDead2@2x.png</string>
						<key>Image</key>
						<string>EmoticonDead2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Disappointed</string>
				<key>Image</key>
				<string>EmoticonDisappointed1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonDisappointed1@2x.png</string>
						<key>Image</key>
						<string>EmoticonDisappointed1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonDisappointed2@2x.png</string>
						<key>Image</key>
						<string>EmoticonDisappointed2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Excited</string>
				<key>Image</key>
				<string>EmoticonExcited1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonExcited1@2x.png</string>
						<key>Image</key>
						<string>EmoticonExcited1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonExcited2@2x.png</string>
						<key>Image</key>
						<string>EmoticonExcited2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonExcited3@2x.png</string>
						<key>Image</key>
						<string>EmoticonExcited3@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonExcited4@2x.png</string>
						<key>Image</key>
						<string>EmoticonExcited4@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>EyeRoll</string>
				<key>Image</key>
				<string>EmoticonEyeRoll1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonEyeRoll1@2x.png</string>
						<key>Image</key>
						<string>EmoticonEyeRoll1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonEyeRoll2@2x.png</string>
						<key>Image</key>
						<string>EmoticonEyeRoll2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonEyeRoll3@2x.png</string>
						<key>Image</key>
						<string>EmoticonEyeRoll3@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Happy</string>
				<key>Image</key>
				<string>EmoticonHappy10.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonHappy10@2x.png</string>
						<key>Image</key>
						<string>EmoticonHappy10@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonHappy11@2x.png</string>
						<key>Image</key>
						<string>EmoticonHappy11@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonHappy1@2x.png</string>
						<key>Image</key>
						<string>EmoticonHappy1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonHappy2@2x.png</string>
						<key>Image</key>
						<string>EmoticonHappy2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonHappy3@2x.png</string>
						<key>Image</key>
						<string>EmoticonHappy3@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonHappy4@2x.png</string>
						<key>Image</key>
						<string>EmoticonHappy4@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonHappy5@2x.png</string>
						<key>Image</key>
						<string>EmoticonHappy5@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonHappy6@2x.png</string>
						<key>Image</key>
						<string>EmoticonHappy6@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonHappy7@2x.png</string>
						<key>Image</key>
						<string>EmoticonHappy7@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonHappy8@2x.png</string>
						<key>Image</key>
						<string>EmoticonHappy8@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonHappy9@2x.png</string>
						<key>Image</key>
						<string>EmoticonHappy9@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Headphones</string>
				<key>Image</key>
				<string>EmoticonHeadphones1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonHeadphones1.png</string>
						<key>Image</key>
						<string>EmoticonHeadphones1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonHeadphones2@2x.png</string>
						<key>Image</key>
						<string>EmoticonHeadphones2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Kiss</string>
				<key>Image</key>
				<string>EmoticonKiss1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonKiss1@2x.png</string>
						<key>Image</key>
						<string>EmoticonKiss1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Sad</string>
				<key>Image</key>
				<string>EmoticonSad1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonSad1@2x.png</string>
						<key>Image</key>
						<string>EmoticonSad1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSad2@2x.png</string>
						<key>Image</key>
						<string>EmoticonSad2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSad3@2x.png</string>
						<key>Image</key>
						<string>EmoticonSad3@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSad4@2x.png</string>
						<key>Image</key>
						<string>EmoticonSad4@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSad5@2x.png</string>
						<key>Image</key>
						<string>EmoticonSad5@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSad6@2x.png</string>
						<key>Image</key>
						<string>EmoticonSad6@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSad7@2x.png</string>
						<key>Image</key>
						<string>EmoticonSad7@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSad8@2x.png</string>
						<key>Image</key>
						<string>EmoticonSad8@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>SealedLips</string>
				<key>Image</key>
				<string>EmoticonSealedLips1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonSealedLips1@2x.png</string>
						<key>Image</key>
						<string>EmoticonSealedLips1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSealedLips2@2x.png</string>
						<key>Image</key>
						<string>EmoticonSealedLips2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Singing</string>
				<key>Image</key>
				<string>EmoticonSinging1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonSinging1@2x.png</string>
						<key>Image</key>
						<string>EmoticonSinging1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>StraightFace</string>
				<key>Image</key>
				<string>EmoticonStraightFace1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonStraightFace1@2x.png</string>
						<key>Image</key>
						<string>EmoticonStraightFace1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Surprise</string>
				<key>Image</key>
				<string>EmoticonSurprise10.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonSurprise10@2x.png</string>
						<key>Image</key>
						<string>EmoticonSurprise10@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSurprise1@2x.png</string>
						<key>Image</key>
						<string>EmoticonSurprise1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSurprise2@2x.png</string>
						<key>Image</key>
						<string>EmoticonSurprise2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSurprise3@2x.png</string>
						<key>Image</key>
						<string>EmoticonSurprise3@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSurprise4@2x.png</string>
						<key>Image</key>
						<string>EmoticonSurprise4@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSurprise5@2x.png</string>
						<key>Image</key>
						<string>EmoticonSurprise5@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSurprise6@2x.png</string>
						<key>Image</key>
						<string>EmoticonSurprise6@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSurprise7@2x.png</string>
						<key>Image</key>
						<string>EmoticonSurprise7@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSurprise8@2x.png</string>
						<key>Image</key>
						<string>EmoticonSurprise8@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonSurprise9@2x.png</string>
						<key>Image</key>
						<string>EmoticonSurprise9@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Sweatdrop</string>
				<key>Image</key>
				<string>EmoticonSweatdrop1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonSweatdrop1@2x.png</string>
						<key>Image</key>
						<string>EmoticonSweatdrop1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Tongue</string>
				<key>Image</key>
				<string>EmoticonTongue1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonTongue1@2x.png</string>
						<key>Image</key>
						<string>EmoticonTongue1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonTongue2@2x.png</string>
						<key>Image</key>
						<string>EmoticonTongue2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonTongue3@2x.png</string>
						<key>Image</key>
						<string>EmoticonTongue3@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonTongue4@2x.png</string>
						<key>Image</key>
						<string>EmoticonTongue4@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonTongue5@2x.png</string>
						<key>Image</key>
						<string>EmoticonTongue5@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Upset</string>
				<key>Image</key>
				<string>EmoticonUpset1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonUpset1@2x.png</string>
						<key>Image</key>
						<string>EmoticonUpset1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonUpset2@2x.png</string>
						<key>Image</key>
						<string>EmoticonUpset2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonUpset3@2x.png</string>
						<key>Image</key>
						<string>EmoticonUpset3@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonUpset4@2x.png</string>
						<key>Image</key>
						<string>EmoticonUpset4@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonUpset5@2x.png</string>
						<key>Image</key>
						<string>EmoticonUpset5@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Wink</string>
				<key>Image</key>
				<string>EmoticonWink1.png</string>
				<key>Stickers</key>
				<array>
					<dict>
						<key>Name</key>
						<string>EmoticonWink1@2x.png</string>
						<key>Image</key>
						<string>EmoticonWink1@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonWink2@2x.png</string>
						<key>Image</key>
						<string>EmoticonWink2@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonWink3@2x.png</string>
						<key>Image</key>
						<string>EmoticonWink3@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonWink4@2x.png</string>
						<key>Image</key>
						<string>EmoticonWink4@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonWink5@2x.png</string>
						<key>Image</key>
						<string>EmoticonWink5@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>EmoticonWink6@2x.png</string>
						<key>Image</key>
						<string>EmoticonWink6@2x.png</string>
						<key>Type</key>
						<string>Sticker</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
